<launch>

   <master auto="start"/>

 <!--- Run AMCL --> 
    <include file="$(find amcl)/examples/amcl_diff.launch" />

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
   <rosparam file="$(find reel_euro2021)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
   <rosparam file="$(find reel_euro2021)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

   <rosparam file="$(find reel_euro2021)/config/local_costmap_params.yaml" command="load" />
   <rosparam file="$(find reel_euro2021)/config/global_costmap_params.yaml" command="load" /> 
   <rosparam file="$(find reel_euro2021)/config/base_local_planner_params.yaml" command="load" /> 
   <rosparam file="$(find reel_euro2021)/config/move_base_params.yaml" command="load" /> 
   <rosparam file="$(find reel_euro2021)/config/dwa_local_planner_params.yaml" command="load" />

 </node>
    	<node pkg="reel_euro2021" type="goal" name="goal"/>


</launch> 
